# Python
  __pycache__/
  *.py[cod]
  .Python
  venv/
  
  # Jupyter
  .ipynb_checkpoints/
  
  # IDE
  .vscode/
  .idea/
  .DS_Store
  
  # Data (jangan upload data besar)
  *.csv
  data/raw/*
  
  # Large files
  *.zip
  *.tar.gz